.footer-sd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-sd__section-content {
    position: relative;
    z-index: 1;
    padding: 30px 70px 0;
    margin-bottom: 250px;
    /*height: calc(100vh - 7rem - 22rem);*/
}

.footer-sd__title {
    margin-bottom: 1vh;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.03rem;
    color: #FFFFFF;
}

.footer-sd__sub-title {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 80px;
    line-height: 125%;
    letter-spacing: 0.03rem;
    color: #FFFFFF;
}

.footer-sd__sub-title a {
    color: #FFFFFF;
}

.footer-sd__sub-title--blue  {
    color:  #0066FF;
    text-transform: uppercase;
    position: relative;
}
.footer-sd__sub-title--blue-click {
    position: absolute;
    bottom: -30px;
    left: 0;
    font-size: 13px;
    text-transform: none;
    line-height: 15px;
    width: 100%;
}

.footer-sd__sub-title .underline {
    text-decoration: underline;
}

@media (max-width: 1440px) and (max-height: 850px) {
    .footer-sd__section-content {
        padding-top: calc(55px + 5vh);
    }

    .footer-sd__title {
        font-size: 67.5px;
    }

    .footer-sd__sub-title {
        font-size: 67.5px;
    }
}

@media (max-width: 1024px) {
    .footer-sd {
        height: auto !important;
    }

    .footer-sd__section-content {
        height: auto;
        padding-top: 44px;
        padding-left: 44px;
        padding-right: 44px;
        margin-bottom: 40px;
    }
}

@media (max-width: 780px) {
    .footer-sd__section-content {
        padding: 44px 16px 16px;
    }

    .footer-sd__title {
        font-size: 40px;
    }

    .footer-sd__sub-title {
        font-size: 40px;
    }
}